root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{json,yml,yaml,ts,vue,js,css,html}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]
# Conventions C# modernes, alignées sur CubeScope.
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_prefer_braces = when_multiline:suggestion
dotnet_sort_system_directives_first = true
dotnet_style_namespace_match_folder = true:warning
